MM6/Library/AnnotationManager
MM6/Library/assetDatabase3
MM6/Library/AssetImportState
MM6/Library/BuildSettings.asset
MM6/Library/BuildPlayer.prefs
MM6/Library/EditorUserBuildSettings.asset
MM6/Library/UnityAssemblies/version.txt
MM6/Library/SpriteAtlasDatabase.asset
MM6/Library/shadercompiler-UnityShaderCompiler.exe0.log
MM6/Library/CurrentLayout.dwlt
MM6/Library/LastSceneManagerSetup.txt
MM6/Temp/UnityTempFile-f7d42182623161c4a9dfed65de37f2f0
MM6/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
MM6/Temp/UnityLockfile
MM6/Library/metadata/bb/bb1411a0d29cd8a40bea3d729e35202b.info
MM6/Library/metadata/bb/bb1411a0d29cd8a40bea3d729e35202b